body{
    background-color: light grey;
  }
  
  .table1{
    background-color: lightblue;
    border: 0; 
    width: 100%; 
    height: 10;
  }
  .imgtext{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    float:left;
    padding:20px;
  }
  #foot {
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 40px;   
     background: lightblue;
  }
  marquee{
    color:red;
  }
  #blink_me {
    animation: blinker 1s linear infinite;
    float: left;
    color:blueviolet;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }